.highlight-g {
    background-color: #fbe8c9;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #f2b24c;
}
  
.highlight-s {
    background-color: #fbdede;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid #eb5757;
}
  
.editable-content {
  margin-top: 0px;
  text-align: left;
  align-self: center;
height:400px;
  margin: auto;
  resize: none;
  display: block;
  padding: 10px;
  font-size: 16px;
  background-size: cover;
  line-height: 1.5em;
}

.editable-content:focus {
    border: 0px solid transparent;  /* Hide border on focus */
    outline: none;  /* Ensure outline is none on focus */
}

.demo-box{
    border-radius: 10px;
    outline: 1px solid;
    outline-color: rgba(191, 204, 217, 0.5);
    box-shadow: 0 0 12px 8px rgba(156, 204, 252, 0.2);
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.demo-box-header{
    border-bottom: 1px solid rgba(191, 204, 217, 0.5);
    margin-bottom:  0px;
    font-size: 16px;
    padding:10px;
    text-align: left;
}

.demo-box-footer{
    border-top: 1px solid rgba(191, 204, 217, 0.5);
    margin-bottom:  0px;
    font-size: 16px;
    padding:10px;
    text-align: left;
    vertical-align: middle;
}





/* Tooltip styling */
.tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(191, 204, 217, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width:200px; /* Set width to ensure proper layout */
  }
  
  /* Tooltip header styling */
  .tooltip-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Tooltip divider styling */
  .tooltip-divider {
    height: 1px;
    background-color: rgba(191, 204, 217, 0.5);
    margin: 5px -10px;
  }
  
  /* Tooltip body styling */
  .tooltip-body {
    margin-bottom: 10px;
  }
  
  /* Tooltip footer styling */
  .tooltip-footer {
    text-align: left;
    margin-top:8px;
  }
  
  .tooltip-footer button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .tooltip-footer button:hover {
    background-color: #0056b3;
  }

  .char-counter{
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    user-select: none;
    pointer-events: none;
    display: inline-flex;
  }

  .mistake-counter {
    background-color: #eb5757;
    border-radius: 50%;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    user-select: none;
    pointer-events: none;
    display: inline-flex;
    float: right;
    margin-top:4px;
  }